//字体大小
$font-lg:20px; // 弹窗标题  页面级标题等
$font-md:18px; // 强调类 标题 新闻标题等
$font-sm:16px; // 导航文字  模块标题
$font-xs:14px; // 正文标题  按钮文字 摘要等
$font-xxs:12px; // 辅助信息

$bg1:#252a2f;
$bg2:#e9edf1;
$theme:#409eff; // 品牌颜色
$successColor:#67C23A;
$warningColor:#E6A23C;
$dangerColor:#F56C6C;
$InfoColor:#909399;

$font1Color:#303133; // 主要文字
$font2Color:#606266; // 常规文字
$font3Color:#909399; // 次要文字
$font4Color:#C0C4CC; // 占位文字

$border1Color:#DCDFE6; // 一级边框
$border2Color:#E4E7ED; // 二级边框
$border3Color:#EBEEF5; // 三级边框
$border4Color:#F2F6FC; // 四级边框
